@font-face {
  font-family: 'Rub';
  src: url('../fonts/Rub.eot');
  src: url('../fonts/Rub.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Rub.woff2') format('woff2'),
       url('../fonts/Rub.woff') format('woff'),
       url('../fonts/Rub.ttf') format('truetype'),
       url('../fonts/Rub.svg#Rub') format('svg');
  font-weight: normal;
  font-style: normal;
}
