html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, dfn, img, ins, kbd, q, samp, var, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, form, fieldset {
  box-sizing: border-box;
  display: block;
}

body, html {
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  -webkit-tap-highlight-color: rgba($black-true, 0);
}

input,
textarea,
button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  display: block;
}

textarea {
  outline: none;
  resize: none;
}

button {
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
}

button, input {
  -webkit-tap-highlight-color: rgba($black-true, 0);
}

button:focus, input:focus {
  outline: none;
}

select {
  outline: none;
  overflow: hidden;

  &::-ms-value {
    background: none;
    color: $text-base;
  }
}

abbr[title], acronym[title] {
  text-decoration: none;
}

body {
  background: $bg-main;
  color: $text-base;
  font-family: $font-base;
  font-size: $font-size;
  font-weight: normal;
  height: 100%;
  line-height: 1.4;
  position: relative;
  text-rendering: geometricPrecision;
}

a {
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba($black-true, 0);
  text-decoration: none;
}

::selection {
  background: rgba($accent-base, .3);
}

::-moz-selection {
  background: rgba($accent-base, .3);
}

._g-clearfix::after {
  clear: both;
  content: '';
  display: table;
}

._g-valign-inline {
  font-size: 0;

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

._g-outer-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $outer-w;
}

._g-inner-padding {
  padding-left: $inner-pd;
  padding-right: $inner-pd;

  @media #{$low-desktop} {
    padding-left: $inner-pd-ld;
    padding-right: $inner-pd-ld;
  }

  @media #{$tablet} {
    padding-left: $inner-pd-tab;
    padding-right: $inner-pd-tab;
  }

  @media #{$mobile} {
    padding-left: $inner-pd-mob;
    padding-right: $inner-pd-mob;
  }
}

._g-font-alt {
  font-family: $font-alt;
}

._g-hidden-input {
  -webkit-appearance: none;
  height: 1px;
  left: -9999px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  z-index: -1;
}

._g-alt-bg {
  background-color: $bg-alt;
}

._g-link-ex {
  border-bottom: 1px solid $link-base;
  color: $link-base;
  cursor: pointer;
}

._g-link-anchor {
  border-bottom: 1px dashed $link-base;
  color: $link-base;
  cursor: pointer;
}

._g-link-noul {
  color: $link-base;
  cursor: pointer;
}

._g-iframe {

  @media #{$mobile} {
    height: 0;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &._g-iframe_16x9 {

    @media #{$mobile} {
      padding-bottom: 56.25%;
    }
  }

  &._g-iframe_4x3 {

    @media #{$mobile} {
      padding-bottom: 75%;
    }
  }
}

._g-visible-tablet {
  @media #{$low-desktop-min} {
    display: none;
  }
}

._g-visible-mobile {
  @media #{$tablet-min} {
    display: none;
  }
}

._g-hidden-tablet {
  @media #{$tablet} {
    display: none;
  }
}

._g-hidden-mobile {
  @media #{$mobile} {
    display: none;
  }
}
