body {
  background: $bg-main;
  color: $text-base;
  font-family: $font-base;
  font-size: $font-size;
  font-weight: normal;
  height: 100%;
  line-height: $line-height;
  position: relative;
  text-rendering: geometricPrecision;
}

::selection {
  background: rgba($accent-base, .3);
  text-shadow: none;
}

::-moz-selection {
  background: rgba($accent-base, .3);
  text-shadow: none;
}

._g-outer-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $outer-w;
}

._g-inner-padding {
  padding-left: $inner-pd;
  padding-right: $inner-pd;

  @include low-desktop-only {
    padding-left: $inner-pd-ld;
    padding-right: $inner-pd-ld;
  }

  @include tablet-only {
    padding-left: $inner-pd-tab;
    padding-right: $inner-pd-tab;
  }

  @include mobile {
    padding-left: $inner-pd-mob;
    padding-right: $inner-pd-mob;
  }
}

._g-hidden-input {
  -webkit-appearance: none;
  height: 1px;
  left: -9999px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  z-index: -1;
}

._g-visible-low-desktop {
  @include desktop-min {
    display: none !important;
  }
}

._g-visible-tablet {
  @include low-desktop-min {
    display: none !important;
  }
}

._g-visible-mobile {
  @include tablet-min {
    display: none !important;
  }
}

._g-hidden-low-desktop {
  @include low-desktop {
    display: none !important;
  }
}

._g-hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

._g-hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

._g-font-alt {
  font-family: $font-alt;
}

._g-alt-bg {
  background-color: $bg-alt;
}

._g-clearfix::after {
  clear: both;
  content: '';
  display: table;
}

._g-valign-inline {
  font-size: 0;

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

._g-link-ex {
  border-bottom: 1px solid $link-base;
  color: $link-base;
  cursor: pointer;
}

._g-link-anchor {
  border-bottom: 1px dashed $link-base;
  color: $link-base;
  cursor: pointer;
}

._g-link-noul {
  color: $link-base;
  cursor: pointer;
}

._g-iframe {

  @include mobile {
    height: 0;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &._g-iframe_16x9 {

    @include mobile {
      padding-bottom: 56.25%;
    }
  }

  &._g-iframe_4x3 {

    @include mobile {
      padding-bottom: 75%;
    }
  }
}
