html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, form, fieldset {
  display: block;
}

body, html {
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  display: block;
  user-select: none;
  -webkit-tap-highlight-color: rgba($black-true, 0);
}

input,
textarea,
button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  display: block;
}

input {

  &::-ms-reveal {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }
}

textarea {
  outline: none;
  resize: none;
}

button {
  background: none;
  cursor: pointer;
  padding: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

button, input {
  -webkit-tap-highlight-color: rgba($black-true, 0);
}

button:focus, input:focus {
  outline: none;
}

select {
  border: 0;
  box-shadow: none;
  color: inherit;
  outline: none;
  overflow: hidden;
  appearance: none;

  &::-ms-value {
    background: none;
    color: inherit;
  }

  &::-ms-expand {
    display: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

abbr[title], acronym[title] {
  text-decoration: none;
}

a {
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba($black-true, 0);
  text-decoration: none;
}

svg {
  fill: currentColor;
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
